# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
/.build/
/Packages/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace

# Other
*.moved-aside
*.swp
*.lock
*.bak
*.tmp
*.log
*.xcdebugger
*.xcsettings

# Firebase
GoogleService-Info.plist
